.space{
    background-color: rgb(0, 219, 146);
    max-width: 60%;
    white-space: initial;
    margin: auto;
}
.table-data{
    display: flex;
    justify-content: center;
    margin-top: 25px;
}
th{
    text-align: -webkit-center;
    background-color: rgb(0, 194, 194);
    margin-top: 10px;
}
tr, td{
    text-align: -webkit-center;
    background-color: rgb(0, 219, 146);
}
